body {
  font-family: 'Helvetica', sans-serif;
  background: linear-gradient(to bottom, #cce7f0, #87c8e8);
  color: #1a1a1a;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  margin-top: 1rem;
  font-size: 2.5rem;
  letter-spacing: 1px;
  color: #023047;
}

#controls {
  margin: 1rem;
}

input[type=range] {
  width: 300px;
  margin-left: 0.5rem;
}

select {
  margin-left: 0.5rem;
}

#info {
  margin-top: 1rem;
  font-size: 1.2rem;
}

#info span {
  font-weight: bold;
}
